.homePage {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

.homePaper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 40vw;
    justify-content: flex-start;
    background-color: rgb(47, 63, 41) !important;
}

.paperTitle {
    font-size: 35px;
    padding: 20px;
    color: rgb(171, 224, 159);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: flex-start;

}

.imageButton {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border-width: 1px;
    height: 40px;
    width: 150px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}

.fileText {
    color: rgb(171, 224, 159);
}

.homeImg {
    width: 25vw;
    /* Set desired width */
    height: auto;
    max-height: 40vw;
    /* Maintain aspect ratio */
    padding-bottom: 10px;
    align-self: baseline;
}

.centerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.flexRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    color: rgb(171, 224, 159);
    font-size: medium;
}

.rowItem {
    padding-inline: 20px;
}