.loading {
    justify-content: center;
    display: flex;
    color: rgb(171, 224, 159);
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

.loadinggif {

    width: 70px;
    /* Set desired width */
    height: auto;
    /* Maintain aspect ratio */
    padding-bottom: 40px;

}

.loadingPaper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 40vw;
    justify-content: center;
    background-color: rgb(47, 63, 41) !important;
    color: rgb(171, 224, 159) !important;
}

.resultsPaper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 90vw;
    justify-content: center;
    background-color: rgb(47, 63, 41) !important;
    color: rgb(171, 224, 159) !important;
}